# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.prettierignore
.vercel

# 追加するファイルとディレクトリ firebase以降後コミット
Auth.tsx
PostForm.tsx
PostList.tsx
App_firebase.tsx
env.d.ts
firebase.ts